/* Common xs1, xs2 */
/* Common sm, md, lg */
@media all and (min-width: 768px) {
  .section-04 {
    background: #E5E5E5;
    padding: 100px 0;
  }
  .section-04 .c-wrapper-04 .head {
    margin-bottom: 32px;
    font-family: "Inter";
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 60px;
    letter-spacing: -0.022em;
    color: #000000;
  }
  .section-04 .c-wrapper-04 .explanation {
    margin-bottom: 60px;
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 34px;
    letter-spacing: -0.017em;
    color: rgba(0, 0, 0, 0.8);
  }
  .section-04 .c-wrapper-04 .a-item {
    display: flex;
  }
  .section-04 .c-wrapper-04 .a-item .column-01 {
    margin-right: 107px;
  }
  .section-04 .c-wrapper-04 .a-item .column-01 .column-01-A {
    margin-bottom: 20px;
    font-family: "Inter";
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 22px;
    letter-spacing: -0.017em;
    color: #000000;
  }
  .section-04 .c-wrapper-04 .a-item .column-01 .column-01-B {
    margin-bottom: 90px;
    width: 375px;
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    letter-spacing: -0.006em;
    color: rgba(0, 0, 0, 0.8);
  }
  .section-04 .c-wrapper-04 .a-item .column-01 .c-unit {
    background-color: #fff;
    width: 375px;
  }
  .section-04 .c-wrapper-04 .a-item .column-01 .c-unit .c-unit-01 {
    display: flex;
    padding: 8px 14px 13px 21px;
    justify-content: space-between;
  }
  .section-04 .c-wrapper-04 .a-item .column-01 .c-unit .c-unit-01 .c-unit-01-A {
    font-family: "Inter";
    font-weight: 700;
    font-size: 15px;
    line-height: 18px;
    letter-spacing: -0.333333px;
    color: #000000;
  }
  .section-04 .c-wrapper-04 .a-item .column-01 .c-unit .c-unit-02 {
    display: flex;
    padding: 32px 0 18px 0;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .section-04 .c-wrapper-04 .a-item .column-01 .c-unit .c-unit-02 .c-unit-02-A {
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 40px;
    letter-spacing: -0.015em;
    color: #000000;
  }
  .section-04 .c-wrapper-04 .a-item .column-01 .c-unit .c-unit-02 .c-unit-02-B {
    font-family: "Inter";
    font-style: normal;
    font-weight: 900;
    font-size: 13px;
    line-height: 15px;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: #000000;
  }
  .section-04 .c-wrapper-04 .a-item .column-01 .c-unit .c-unit-03 {
    display: flex;
    flex-direction: column;
    padding: 0 16px 0 16px;
  }
  .section-04 .c-wrapper-04 .a-item .column-01 .c-unit .c-unit-03 .c-unit-03-A {
    padding: 19px 125px 19px 125px;
    margin-bottom: 16px;
    background: #000000;
    border: 2px solid #000000;
    border-radius: 6px;
    align-items: center;
    text-align: center;
    font-style: normal;
    font-weight: 900;
    font-size: 11px;
    line-height: 15px;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: #FFFFFF;
  }
  .section-04 .c-wrapper-04 .a-item .column-01 .c-unit .c-unit-03 .c-unit-03-B {
    padding: 19px 125px 19px 125px;
    margin-bottom: 32px;
    border: 2px solid #000000;
    border-radius: 6px;
    align-items: center;
    text-align: center;
    font-style: normal;
    font-weight: 900;
    font-size: 13px;
    line-height: 15px;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: #000000;
  }
  .section-04 .c-wrapper-04 .a-item .column-01 .c-unit .c-unit-04 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .section-04 .c-wrapper-04 .a-item .column-01 .c-unit .c-unit-04 :not(:last-child) {
    padding: 0 8px 0 8px;
  }
  .section-04 .c-wrapper-04 .a-item .column-01 .c-unit .c-unit-05 {
    margin-left: 16px;
  }
  .section-04 .c-wrapper-04 .a-item .column-01 .c-unit .c-unit-06 {
    padding: 32px 16px 0 16px;
  }
  .section-04 .c-wrapper-04 .a-item .column-01 .c-unit .c-unit-06 .c-unit-06-A {
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 40px;
    letter-spacing: -0.015em;
    color: #000000;
  }
  .section-04 .c-wrapper-04 .a-item .column-01 .c-unit .c-unit-06 .c-unit-06-B {
    padding: 17px 231px 17px 17px;
    height: 52px;
    width: 100%;
    background: #FFFFFF;
    border: 2px solid #000000;
    margin-top: 32px;
  }
  .section-04 .c-wrapper-04 .a-item .column-01 .c-unit .c-unit-06 .c-unit-06-C {
    padding: 17px 231px 17px 17px;
    margin-bottom: 16px;
    height: 52px;
    width: 100%;
    background: #FFFFFF;
    border: 2px solid #000000;
    margin-top: 16px;
  }
  .section-04 .c-wrapper-04 .a-item .column-01 .c-unit .c-unit-06 .c-unit-06-D {
    height: 52px;
    width: 100%;
    margin-bottom: 406px;
    border: 2px solid #000000;
    border-radius: 6px;
    font-family: "Inter";
    text-transform: uppercase;
    letter-spacing: 0.04em;
    font-style: normal;
    font-weight: 900;
    font-size: 13px;
    line-height: 15px;
    background: #000000;
    color: #FFFFFF;
  }
}/*# sourceMappingURL=Section04.css.map */