@import "../../Base/Global.scss";
@import "../../Base/Colour.scss";

/* Common xs1, xs2 */

@media all and (max-width: #{($mq-sm1 - 1) + "px"}) {
    .section-03 {}
}


/* Common sm, md, lg */

@media all and (min-width: #{$mq-sm1 + "px"}) {
    .section-03 {
        padding: 100px 0;
        .c-wrapper-03 {
            display: flex;
            .column-1 {
                margin-right: 60px;
                margin-top: 21px;
                flex: 1;
                width: 92px;
                height: 288px;
                font-weight: 400;
                font-size: 144px;
                line-height: 288px;
                color: rgba(0, 0, 0, 0.1);
            }
            .column-2 {
                .b-item {
                    .b-item-01 {
                        margin-bottom: 32px;
                        width: 782px;
                        height: 60px;
                        font-family: 'Inter';
                        font-style: normal;
                        font-weight: 700;
                        font-size: 48px;
                        line-height: 60px;
                        letter-spacing: -0.022em;
                        color: #000000;
                    }
                    .b-item-02 {
                        margin-bottom: 80px;
                        width: 782px;
                        height: 102px;
                        font-family: 'Inter';
                        font-style: normal;
                        font-weight: 400;
                        font-size: 20px;
                        line-height: 34px;
                        letter-spacing: -0.017em;
                        color: rgba(0, 0, 0, 0.8);
                    }
                }
                .b-box {
                    width: 782px;
                    height: 750px;
                    background: #FFFFFF;
                    .span {
                        margin-left: 40px;
                        position: absolute;
                        width: 702px;
                        height: 1px;
                        background: #E5E5E5;
                    }
                    .b-box-01 {
                        .b-box-01-A {
                            margin-left: 40px;
                            margin-top: 40px;
                            padding-top: 50px;
                            width: 353px;
                            height: 22px;
                            font-family: 'Inter';
                            font-style: normal;
                            font-weight: 700;
                            font-size: 20px;
                            line-height: 22px;
                            letter-spacing: -0.017em;
                            color: #000000;
                        }
                        .b-box-01-B {
                            margin-left: 40px;
                            margin-top: 15px;
                            margin-bottom: 42px;
                            width: 457px;
                            height: 22px;
                            font-family: 'Inter';
                            font-style: italic;
                            font-weight: 400;
                            font-size: 10px;
                            line-height: 22px;
                            letter-spacing: 0.01em;
                            color: rgba(0, 0, 0, 0.6);
                        }
                    }
                    .b-box-02 {
                        display: flex;
                        .b-box-02-1 {
                            .b-box-02-1-A {
                                margin-left: 40px;
                                margin-right: 57px;
                                width: 425px;
                                height: 44px;
                                font-family: 'Inter';
                                font-style: normal;
                                font-weight: 400;
                                font-size: 14px;
                                line-height: 22px;
                                letter-spacing: -0.006em;
                                color: #000000;
                            }
                        }
                        .b-box-02-2 {
                            .b-box-02-2-A {
                                margin-bottom: 24px;
                                width: 220px;
                                height: 80px;
                            }
                        }
                    }
                    .b-box-03 {
                        display: flex;
                        .b-box-03-1 {
                            .b-box-03-1-A {
                                margin: 37px 57px 47px 40px;
                                width: 425px;
                                height: 44px;
                                font-family: 'Inter';
                                font-style: normal;
                                font-weight: 400;
                                font-size: 14px;
                                line-height: 22px;
                                letter-spacing: -0.006em;
                                color: #000000;
                            }
                        }
                        .b-box-03-2 {
                            .b-box-03-2-A {
                                margin: 24px 40px 0 0;
                                width: 220px;
                                height: 80px;
                            }
                        }
                    }
                    .b-box-04 {
                        display: flex;
                        .b-box-04-A {
                            .b-box-04-A-1 {
                                margin: 31px 57px 31px 40px;
                                width: 425px;
                                height: 66px;
                                font-family: 'Inter';
                                font-style: normal;
                                font-weight: 400;
                                font-size: 14px;
                                line-height: 22px;
                                /* or 157% */
                                letter-spacing: -0.006em;
                                color: #000000;
                            }
                        }
                        .b-box-04-B {
                            .b-box-04-B-1 {
                                margin: 24px 40px 24px 0px;
                                width: 220px;
                                height: 80px;
                            }
                        }
                    }
                    .b-box-05 {
                        display: flex;
                        .b-box-05-A {
                            .b-box-05-A-1 {
                                margin: 42px 57px 42px 40px;
                                width: 425px;
                                height: 44px;
                                font-family: 'Inter';
                                font-style: normal;
                                font-weight: 400;
                                font-size: 14px;
                                line-height: 22px;
                                letter-spacing: -0.006em;
                                color: #000000;
                            }
                        }
                        .b-box-05-B {
                            .b-box-05-B-1 {
                                margin: 24px 40px 24px 0;
                                width: 220px;
                                height: 80px;
                            }
                        }
                    }
                    .b-box-06 {
                        display: flex;
                        .b-box-06-A {
                            .b-box-06-A-1 {
                                margin: 42px 57px 42px 40px;
                                width: 425px;
                                height: 44px;
                                font-family: 'Inter';
                                font-style: normal;
                                font-weight: 400;
                                font-size: 14px;
                                line-height: 22px;
                                letter-spacing: -0.006em;
                                color: #000000;
                            }
                        }
                        .b-box-06-B {
                            .b-box-06-B-1 {
                                margin-top: 24px;
                                width: 220px;
                                height: 80px;
                            }
                        }
                    }
                }
                .d-item {
                    margin-top: 56px;
                    display: flex;
                    width: 782px;
                    height: 190px;
                    background: #FFFFFF;
                    .d-item-01 {
                        .d-item-01-A {
                            margin-left: 40px;
                            margin-top: 20px;
                            margin-bottom: 15px;
                            font-family: 'Inter';
                            font-style: normal;
                            font-weight: 700;
                            font-size: 20px;
                            line-height: 22px;
                            letter-spacing: -0.017em;
                            color: #000000;
                        }
                        .d-item-01-B {
                            margin-left: 40px;
                            margin-right: 62px;
                            width: 325px;
                            font-family: 'Inter';
                            font-style: normal;
                            font-weight: 400;
                            font-size: 14px;
                            line-height: 22px;
                            letter-spacing: -0.017em;
                            color: #000000;
                        }
                    }
                    .d-item-02 {
                        display: flex;
                        .d-item-02-A {
                            margin-top: 84px;
                            width: 53px;
                            height: 22px;
                            font-family: 'Inter';
                            font-style: normal;
                            font-weight: 700;
                            font-size: 14px;
                            line-height: 22px;
                            letter-spacing: -0.006em;
                            color: #000000;
                        }
                        .d-item-02-B {
                            margin-right: 40px;
                            margin-top: 75px;
                            width: 40px;
                            height: 40px;
                        }
                    }
                    .d-item-03 {
                        display: flex;
                        .d-item-03-A {
                            margin-top: 84px;
                            width: 68px;
                            height: 22px;
                            font-family: 'Inter';
                            font-style: normal;
                            font-weight: 700;
                            font-size: 14px;
                            line-height: 22px;
                            letter-spacing: -0.006em;
                            color: #000000;
                        }
                        .d-item-03-B {
                            margin-top: 75px;
                            width: 40px;
                            height: 40px;
                        }
                    }
                }
            }
        }
    }
}