@import "Global.scss";
html {
    height: 100%;
}

body {
    min-height: 100%;
    background-color: #F0F0F0;
}

.c-wrapper,
.c-wrapper-02,
.c-wrapper-03,
.c-wrapper-04 {
    margin: 0 auto;
}


/* Common xs1, xs2 */

@media all and (max-width: #{($mq-sm1 - 1) + "px"}) {
    .c-wrapper {
        width: $c-wrapper-xs;
    }
}


/* Common sm, md, lg */

@media all and (min-width: #{$mq-sm1 + "px"}) {
    .c-wrapper {
        width: $c-wrapper-md;
    }
    .c-wrapper-02 {
        width: 932px;
    }
    .c-wrapper-03 {
        width: 932px;
    }
    .c-wrapper-04 {
        width: 932px;
    }
}